.abs-center{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#title{
    color: black;
    position: absolute;
    bottom: 63%;
    right: 45%;
    font-family: 'Courier New', Courier, monospace;
}
